<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link href="/assets/css/fontawesome-all.css" rel="stylesheet">
		</head>
		<body>
			<div class="header">
				<a href="/"><img class="center" src="/assets/img/web_cover.png"></img></a>
			</div>
			<div class="topnav">
	  		<a href="/">Home</a>
	    	<a href="/about">About</a>
			</div>
			<div class="container">
				{{ content }}
			</div><!-- /.container -->
			<footer>
				<div class="footer">
					<div class="footer-left">
						<img src="assets/img/einfinity_public.svg" height="150" width="150" style="background-color: white"/>
					</div>
					<div class="footer-main">
						<p>Connect with me!</p>
						<p>
							<a href="http://www.github.com/yingkh">
								<i class="fab fa-github-square"></i>
								yingkh
							</a>
						</p>
						<p>
							<a href="https://twitter.com/yingkh_tweets">
								<i class="fab fa-twitter-square"></i>
								yingkh_tweets
							</a>
						</p>
						<p>2018 &copy; Ying Ka Ho. All Rights Reserved.</p>
					</div>
				</div>

			</footer>
		</body>
	</html>
